---
import Layout from '@/layouts/Layout.astro'
import SocialLinks from '@/components/SocialLinks.astro'
import SubscribeForm from '@/components/SubscribeForm.astro'
import Link from '@/components/shared/Link.astro'
---

<Layout title='About' description='Who I am and what I do'>
	<main class='flex flex-col gap-20'>
		<article class='flex flex-col gap-8'>
			<h1 class='text-3xl text-neutral-100 font-serif'>About</h1>
			<section
				class='flex flex-col prose prose-invert prose-p:my-4 first:prose-p:mt-0'
			>
				<p>Hi! I'm a software engineer residing in Bangalore, India.</p>
				<p>
					In my free time, I work on <Link
						href='/projects'
						label='side projects'
						isUnderline
						target='_self'
					/>.
				</p>
				<p>
					My main programming language is JavaScript/TypeScript but
					I've been learning Rust as well. I've also dabbled in Go,
					Lua, and Python. I write articles regularly about the things
					I'm learning and the projects I'm working on.
				</p>
				<p>
					When not working on side projects, I regularly read and
					occasionally play video games. Check out what I'm reading
					and playing
					<Link
						href='/now'
						label='right now'
						isUnderline
						target='_self'
					/>. You can also check out the <Link
						href='/uses'
						label='tools and devices'
						isUnderline
						target='_self'
					/> I use to get my work done.
				</p>
				<p>
					Since you're here, I'd appreciate it if you checked out some
					of my <Link
						href='/blog'
						label='blog posts'
						isUnderline
						target='_self'
					/>. And if you happen to like what you read, let me know :)
				</p>
			</section>
			<SubscribeForm />
			<SocialLinks />
		</article>
	</main>
</Layout>
