---
import { getCollection } from 'astro:content'

import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero.tsx'
import LatestPosts from '@/components/LatestPosts.tsx'
import FeaturedProjects from '@/components/FeaturedProjects.tsx'
import Link from '@/components/shared/Link.tsx'
import {
	convertAsteriskToStrongTag,
	getNowPlaying,
	MAP_COLOR_VARIANT_TO_TEXT,
} from '@/utils/helpers'

import presentation from '@/data/presentation'
import { projects } from '@/data/projects'
import theme from '@/data/theme'

const posts = await getCollection('posts', ({ data }) => !data.draft)
const sortedPosts = posts.sort(
	(a, b) =>
		new Date(b.data.date_published).valueOf() -
		new Date(a.data.date_published).valueOf()
)
---

<Layout description='Software Engineer, Maker, Writer'>
	<main class='flex flex-col gap-20'>
		<Hero />

		<LatestPosts posts={sortedPosts} />

        <FeaturedProjects projects={projects} />
	</main>
</Layout>
