---
import Layout from '@/layouts/Layout.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { convertAsteriskToStrongTag, formatDate } from '@/utils/helpers'

import { data, projects } from '@/data/projects'
---

<Layout title='Projects' description="I love building things. These are the projects that I've built mostly for myself but possibly, others.">
	<main class='flex flex-col gap-20'>
		<article class='flex flex-col gap-8'>
			<h1 class='text-3xl text-neutral-100 font-serif'>{data.title}</h1>
			<p
				class='max-w-[60ch] leading-6 prose prose-invert'
				set:html={convertAsteriskToStrongTag(data.description)}
			/>
		</article>

		<article class='flex flex-col gap-4'>
			<section class='flex flex-col gap-4'>
				{
					projects.length !== 0 &&
						projects.map((project) => <ProjectCard {...project} />)
				}
			</section>
		</article>
	</main>
</Layout>
