---
import Layout from '@/layouts/Layout.astro'
import Books from '@/components/Books.tsx'
import SocialLinks from '@/components/SocialLinks.tsx'
import Link from '@/components/shared/Link.tsx'
import { convertAsteriskToStrongTag, formatDate } from '@/utils/helpers'

import { data } from '@/data/books'
import { Content } from '@/content/reading/reading.mdx'
---

<Layout
	title='Reading'
	description="I love reading. Here's a non-exhaustive list of all the books I'm currently reading, have read in the past, and want to read in the near future."
>
	<main class='flex flex-col gap-20'>
		<article class='flex flex-col gap-8'>
			<h1 class='text-3xl text-neutral-100 font-serif'>{data.title}</h1>
			<p
				class='max-w-[60ch] leading-6 prose prose-invert'
				set:html={convertAsteriskToStrongTag(data.description)}
			/>
		</article>
        <Books client:load />
		<article class='mdx prose prose-invert max-w-none'>
			<Content />
		</article>
	</main>
</Layout>
