---
import Layout from '@/layouts/Layout.astro'
import BookCard from '@/components/BookCard.tsx'
import SocialLinks from '@/components/SocialLinks.tsx'
import Link from '@/components/shared/Link.tsx'
import { convertAsteriskToStrongTag, formatDate } from '@/utils/helpers'

import {
	allTimeFavorites,
	data,
	currentlyReading,
	readThisYear,
} from '@/data/books'
import { Content } from '@/content/reading/reading.mdx'
---

<Layout
	title='Reading'
	description="I love reading. Here's a non-exhaustive list of all the books I'm currently reading, have read in the past, and want to read in the near future."
>
	<main class='flex flex-col gap-20'>
		<article class='flex flex-col gap-8'>
			<h1 class='text-3xl text-neutral-100 font-serif'>{data.title}</h1>
			<p
				class='max-w-[60ch] leading-6 prose prose-invert'
				set:html={convertAsteriskToStrongTag(data.description)}
			/>
		</article>
		<article class='flex flex-col gap-16'>
			<section class='flex flex-col gap-8'>
				<h2 class='text-xl text-neutral-100 font-medium'>
					Currently Reading
				</h2>
				<div class='w-full columns-3 gap-8'>
					{
						currentlyReading.length !== 0 &&
							currentlyReading.map((book) => (
								<BookCard {...book} />
							))
					}
				</div>
			</section>
			<section class='flex flex-col gap-8'>
				<h2 class='text-xl text-neutral-100 font-medium'>2023</h2>
				<div class='w-full columns-3 gap-8'>
					{
						readThisYear.length !== 0 &&
							readThisYear.map((book) => <BookCard {...book} />)
					}
				</div>
			</section>
			<section class='flex flex-col gap-8'>
				<h2 class='text-xl text-neutral-100 font-medium'>
					All Time Favorites
				</h2>
				<div class='w-full columns-3 gap-8'>
					{
						allTimeFavorites.length !== 0 &&
							allTimeFavorites.map((book) => (
								<BookCard {...book} />
							))
					}
				</div>
			</section>
		</article>
		<article class='mdx prose prose-invert max-w-none'>
			<Content />
		</article>
	</main>
</Layout>
