---
import SpotifyIcon from './SpotifyIcon.astro'
import { getCurrentTrack } from '@/utils/helpers'

const nowPlayingTrack = await getCurrentTrack()
const data = await nowPlayingTrack.json()
---

<div
	id='spotify'
	class='group w-fit flex items-center justify-center hover:bg-brand-500 border border-neutral-700 hover:border-brand-500 rounded-full'
    transition:name='spotify-now-playing'
    transition:persist
>
	{
		data.isPlaying ? (
			<a href={data.url} target='_blank' rel='noreferrer noopener'>
				<div class='inline-flex items-center gap-2 py-2 px-3'>
					<SpotifyIcon className='h-5 w-5 text-green-500 animate-spin group-hover:text-neutral-700' />
					<p class='leading-none group-hover:text-neutral-700'>
						{data.title} - {data.artist}
					</p>
				</div>
			</a>
		) : (
			<a
				href='https://open.spotify.com/user/ilangorajagopal?si=3c10aad3653b42ea'
				target='_blank'
				rel='noreferrer noopener'
			>
				<div class='inline-flex items-center gap-2 py-2 px-3'>
					<SpotifyIcon className='h-5 w-5 text-green-500 group-hover:text-neutral-700' />
					<p class='leading-none group-hover:text-neutral-700'>Offline</p>
				</div>
			</a>
		)
	}
</div>
