<div id='custom-substack-embed'></div>

<script>
	window.CustomSubstackWidget = {
		substackUrl: 'ilango.substack.com',
		placeholder: 'paul@house-atreides.com',
		buttonText: 'Subscribe',
		theme: 'custom',
		colors: {
			primary: '#FFFFFF',
			input: '#000000',
			email: '#FFFFFF',
			text: '#000000',
		},
	}
</script>
<script is:inline src='https://substackapi.com/widget.js' async></script>
